<ul>
    <li>
        <div class="top">
            <i class="icon ion-home"></i>
        </div>
        <span>首页</span>
    </li>
    <li>
        <div class="top">
            <i class="icon ion-at"></i>
        </div>
        <span>论坛</span>
    </li>
    <li>
        <div class="top">
            <i class="icon ion-model-s"></i>
        </div>
        <span>选车</span>
    </li>
    <li>
        <div class="top">
            <i class="icon ion-radio-waves"></i>
        </div>
        <span>发现</span>
    </li>
    <li>
        <div class="top">
            <i class="icon ion-person"></i>
        </div>
        <span>未登录</span>
    </li>
</ul>